In [ ]:
#1)hello world

a="hello,world!"
print(a)

hello,world!

In [ ]:
#2) print name and age !

print("enter your name:")
x=input()
print ("how old are you?")
y=input()
print("hey "+x,"you are -"+y,"years old !")

enter your name:
ANUDEEP
how old are you?
29
hey ANUDEEP you are -29 years old !

In [ ]:
#3) predefined keywords in python

import keyword        # importing keywords from library
a=keyword.kwlist
print("the predefined keywords are : ",a)

the predefined keywords are :  ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#4)check the input words are python keywords

import keyword
x=keyword.kwlist     # passing all the keywords into x

print("enter your word to check for python keywords")
a=input()
if a in x:           # checking condition for  input in keywords
  print("you r right ! u entered  '"+a,"' ,which is a python keyword!")
else:
  print("hey'amigoo' u enterd a wrong button,pls try again ...")

enter your word to check for python keywords
assert
you r right ! u entered  'assert ' ,which is a python keyword!

In [ ]:

 #5)Create a list and tuple in Python, and demonstrate how attempting to change an element works differently

 a=[1,2,3,4,5,6]
 b=(8,3,4,"a")
 print(type(a)) #type printing
 print(type(b))

 '''
 list - changing elements of list
 tuple- changing elements of tuple
 '''

 a.append(15) # add nmber
 a[-2]=44 #interchanging number
 a.remove(2)    # removing from list
 print(" successfully modified list",a)

print("trying to modify a tuple :")
try:
   b[2]=5
except TypeError:
   print("error occured while trying to modify tuple")

<class 'list'>
<class 'tuple'>
 successfully modified list [1, 3, 4, 5, 44, 15]
trying to modify a tuple :
error occured while trying to modify tuple

In [ ]:
# 6) same # 7) Write a function to demonstrate the behavior of mutable and immutable arguments


box=(1,'pens','boxes')   #tuple
name=[1,2,3,4,'nani']   #list

def mut_list():
   name.append("danasi") # adding elements
   name[4]='anudeep'   # updation
   name.insert(2,88)   #inserting elements
   name.remove(3)     # removing elements

mut_list()             # function call
print("the modified list :",name)



def mut_tuple():         #fuction defining
   try:
    box[2]=5
   except TypeError:
     print("error occured--hence cannot modify a tuple")

mut_tuple()

the modified list : [1, 2, 88, 4, 'anudeep', 'danasi']
error occured--hence cannot modify a tuple

In [ ]:
# 8)program for logical operators & | not

print(" for logical & enter value of a:")
a=int(input())
print("enter value of b:")
b=int(input())
print(type(a))

if a > 4 and b > 4 :   # and operator
 print("yes --> entered values are greater than 4 .")
else:
 print("no --> one of entered values or both entered values are lessthan  or equal to 4 ")

 # logical or operator
print(" for logical or  enter value of a:")
a=int(input())
print("enter value of b:")
b=int(input())
print(type(a),(b))
if a > 4 or b > 4 :  # or operator
 print("yes --> one of entered values or  both are greater than 4 ")
else:
 print("no --> none of entered values are greater than 4 ")


 #logical not
x = False
print("the opposite of false is",not x)
x = True
print("the opposite of true is ",not x)

 for logical & enter value of a:
6
enter value of b:
2
<class 'int'>
no --> one of entered values or both entered values are lessthan  or equal to 4
 for logical or  enter value of a:
22
enter value of b:
2
<class 'int'> 2
yes --> one of entered values or  both are greater than 4
the opposite of false is True
the opposite of true is  False

In [ ]:
# 9)Write a Python program to convert user input from string to integer, float, and boolean types

print("enter a number :" )   #string conversion to integer
x=(input())
print(x,type(x))
print("the entered string ",x,"  is now converted into  integer-->",str(x))
print("the entered string ",x,"  is now converted into  float-->",float(x))


print("enter a float number")  # float to int conversion
y=float(input())
print(y,type(y))
print("the  entered  float",y,"is now converted to integer",int(y))
print("the entered float ",y,"  is now converted into  string-->",str(y))

#boolean
#boolean
print("enter words")
z=input()
print(type(z))
if bool(z)==True:
  print("you enetered a boolean ",bool(z))
else:
  print("u didnot enter anything hence it is ",bool(0))

enter a number :
23
23 <class 'str'>
the entered string  23   is now converted into  integer--> 23
the entered string  23   is now converted into  float--> 23.0
enter a float number
29.63
29.63 <class 'float'>
the  entered  float 29.63 is now converted to integer 29
the entered float  29.63   is now converted into  string--> 29.63
enter words
hi nani
<class 'str'>
you enetered a boolean  True

In [ ]:
#10)Write code to demonstrate type casting with list elements

a=[1,2,3.99,'nani']  #defining a list with  different elements
print("elements of list before casting",a)
def fun():             # functions to casting elements of a list
   a[0]=str(a[0])     #int to string
   a[1]=float(a[1])    #int to float
   a[2]=int(a[2])     #float to int


fun()
print("elements of list after casting",a)

elements of list before casting [1, 2, 3.99, 'nani']
elements of list after casting ['1', 2.0, 3, 'nani']

In [ ]:
# 11) Write a program that checks if a number is positive, negative, or zero

print('enter a nmber')
x=int(input())
if x>0:        # positive check
  print("the number is positive")
elif x<0:      # negitive check
      print("the number is negitive")
else:
  print("the number is zero")

enter a nmber
-53
the number is negitive

In [ ]:
#12)for loop to print 1 to 10

for x in range (1,11):
   print(x)
print("we can also print in single line")
for x in range (1,11):
  print(x,end=' ')

1
2
3
4
5
6
7
8
9
10
we can also print in single line
1 2 3 4 5 6 7 8 9 10

In [ ]:
#13)  Write a Python program to find the sum of all even numbers between 1 and 50
a=1
sum=0
while a <51 :
  if a%2==0:
     sum=sum+a
  a+=1
print(sum)

650

In [ ]:
# 14) Write a program to reverse a string using a while loop

c=[]  #creating empty list
print("enter the words")
x=input() # taking strings into input
print(type(x))
c.append(x)  # filling empty list c with given user input
for i in c:    # slicing single 'word' into  letters 'w','o','r','d'
  print(type(c),type(i))  # checking types after slicing
  print("entered word consists of ",len(i),"letters")
  x=len(i)
  z=[]
  while x>0:   #while loop
    print(i[x-1])
    z.append(i[x-1])    #passing values into empty list z ,.in each iteration it stores values
    x=x-1     #iteration
print("the stored values in z:",z)

#we can use string operation to reverse
a=(input("ur words :"))
print(a[::-1])

enter the words
hello pw skills
<class 'str'>
<class 'list'> <class 'str'>
entered word consists of  15 letters
s
l
l
i
k
s

w
p

o
l
l
e
h
the stored values in z: ['s', 'l', 'l', 'i', 'k', 's', ' ', 'w', 'p', ' ', 'o', 'l', 'l', 'e', 'h']
ur words :hi there
ereht ih

In [1]:
#15)factorial number using  while loop
fact=1
z=1
n=(int(input("enter the number")))
print(n)
while z <=n:
  fact=fact*z
  z=z+1
print("the factorial number of",n,"is",fact)

enter the number4
4
the factorial number of 4 is 24